{%extends 'base.html'%}
{%block content%}

<div class="container pt-4">
  <h1>Log In</h1>
  {% if error %}
    <br>
    <span style="background: red">Error: {{ error }}</span>
    <br>
  {% endif %}
  <br>
  <form class="" action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    Username or Email:
    <br>
    <input type="text" name="usernameoremail">
    <br>
    <br>

    Password:
    <br>
    <input type="password" name="password">
    <br>
    <br>

    <input type="submit" class= "btn btn-primary" name="submit" value="Log In">
  </form>
</div>

{%endblock%}
